<div class="dialog-backdrop" (click)="closeDialog()"></div>
<div class="dialog">
  <h2>Select Tockens</h2>
  <table>
    @for (row of tockenRows; track $index) {
      <tr>
        @for (tocken of row; track $index) {
          <td>
            <div class="tocken-cell"
              (click)="selectTocken(tocken)">
              <img [ngSrc]="tocken.path" [alt]="tocken.alt" width="100" height="100"/>
              <span>{{ tocken.alt }}</span>
            </div>
          </td>
        }
      </tr>
    }
  </table>
  <button (click)="closeDialog()">Confirm</button>
</div>