.tocken {
    position: absolute;
    cursor: move;
    touch-action: none;
    max-width: 288px;
    max-height: 288px;
}

.tocken img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tocken.dragging {
  cursor: grabbing;
}