<div class="main">
  <app-menu class="menu" (isAddTockenVisible)="isAddTockenVisible.set($event)" />
  @if (isAddTockenVisible()) {
    <app-addTocken class="addTocken" (visibility)="isAddTockenVisible.set($event)" (retrivingTockens)="onRetrivingTockens($event)" />
  }
  <div class='screen'>
    <img class='pitch' [src]='pitch().path' [alt]='pitch().alt'/>
    @for (tocken of tockens(); track $index) {
      <app-tocken class="tocken" [id]="$index" [tocken]='tocken' (selected)="selected.set($index)"></app-tocken>
    }
  </div>
  @if (selected() != -1) {
    <app-action-bar class="action-bar" [tocken]="tockens()[selected()]" />
  }
</div>