<div class="main">
  <app-menu (isAddTockenVisible)="isAddTockenVisible.set($event)" />
  @if (isAddTockenVisible()) {
    <app-addTocken (visibility)="isAddTockenVisible.set($event)" (retrivingTockens)="onRetrivingTockens($event)" />
  }
  <div class='screen'>
    <img [src]='pitch().path' class='pitch' [alt]='pitch().alt'/>
    @for (tocken of tockens(); track $index) {
      <app-tocken [id]="$index" [tocken]='tocken'></app-tocken>
    }
  </div>
  @if (selected() != -1) {
  <app-action-bar [tocken]="tockens()[selected()]" />
  }
</div>