.action-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 220px;
  background: #222;
  color: #fff;
  overflow-x: hidden;
}

.bar-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.bar-row {
  padding: 8px 0;
  border-bottom: 1px solid #333;
}